[uwsgi]
chdir = /opt/monitor-price
virtualenv = /opt/monitor-price/.venv
plugin = python3
module = app.uwsgi_entry:application

master = true
processes = 1
threads = 1
need-app = true
die-on-term = true
vacuum = true
uid = www-data
gid = www-data

http-socket = 127.0.0.1:9099

attach-daemon2 = cmd=/opt/monitor-price/.venv/bin/python -m app.main,control=true
